# Java 및 Gradle
*.class
*.jar
*.war
*.ear
*.iml

# 관련 빌드 및 디렉토리
/build/
.gradle/
out/

# 로그 및 임시 파일
*.log
*.tmp

# IntelliJ IDEA
/.idea/
/*.iml

# Eclipse
.project
.classpath
/.settings/

# VSCode
/.vscode/

# JRebel 패치 및 JetBrains 제품
*.jrebel.*
*.jrpatch
*.ijwb

# 로컬 환경 및 설정 파일
*.properties
*.local

# OS 및 IDE 파일
.DS_Store
Thumbs.db

# 자바 Zulu 17
.jdk/

# Vue (Vite) 프로젝트
node_modules/
dist/
*.local

# 환경 변수 파일
.env
.env.*
